.container {
  position: relative;
  //max-width: 200px; /* Maximum width */
  margin: 0 auto; /* Center it */
  /* font-family removed — now global */
}

.container .content {
  display: flex;
  justify-content: left;
  align-items: center;
  position: absolute; /* Position the background text */
  bottom: 10px; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 95%; /* Full width */
  padding: 5px; /* Some padding */
  margin-bottom: -5px;
  height: 50px;
}

.container .content h1{
  font-size: 20px;
  font-size: 2vw;
}

.container img{
  width: 350px;
  height: 100%;
}