<div>
  <button class="button" (click)="navigateToEpisode()">Back</button>
</div>

<div class="mainScreen" *ngIf="displayedPictures && displayedPictures.length > 0" >
  <p class="prev" (click)="decrementPictureIndex()">Previous</p>
  <img [src]="normalizeImagePath(displayedPictures[pictureIndex]?.imagePath)" alt="">
  <p class="next" (click)="incrementPictureIndex()">Next</p>
</div>

<!-- <h2 *ngIf="displayedPictures">Pictures:</h2> -->
<div class="pictures" *ngIf="displayedPictures && displayedPictures.length > 0">
  <div *ngFor="let picture of displayedPictures">
    <img [src]="normalizeImagePath(picture.imagePath)" alt="Alt">
  </div>
</div>
