<p (click)="getHeaderId()">show-seasons works!</p>
<h1>Title of Show 1</h1>


<div class="dropdown">
  <button class="dropbtn">Seasons</button>

  <div class="dropdown-content">
    <a *ngFor="let season of getFakeSeason()">
      {{ season.headerId }} {{ season.title }}
    </a>
  </div>
</div>

<div class="episodeList">
  <div class="episodeTiles" *ngFor="let episode of getFakeEpisodes()">
    <app-episode-tile [title]="episode.title" [episodeSign]="episode.episodeSign" [id]="episode.id"></app-episode-tile>
  </div>
</div>

