body {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  background-color: #0a0185;
}

header {
  background-color: #070069;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

header h1 {
  text-align: left;
  margin-left: 60px;
}