<div>
  <button class="button" (click)="navigateToSeasons(displayedEpisode.seasonId)">Back</button>
  <button class="button" (click)="openImagesDialog()">
    Bilder hinzufügen
</button>
</div>

<app-episode-images-dialog
    *ngIf="showImagesDialog"
    (cancel)="closeImagesDialog()"
    (save)="saveImages($event)">
</app-episode-images-dialog>

<video width="100%" height="700px" controls *ngIf="displayedEpisode">
  <source [src]="normalizePublicPath(displayedEpisode.videoPath)">
Your browser does not support the video tag.
</video>
<h1 class="captions" *ngIf="displayedEpisode">{{displayedEpisode.title}}</h1>
<button type="button" class="button captions" *ngIf="dispayedPictures" (click)="navigateToGallery(displayedEpisode.id)">Pictures</button>
<div class="pictures" *ngIf="dispayedPictures">
  <div *ngFor="let picture of dispayedPictures">
    <img [src]="normalizePublicPath(picture.imagePath)" alt="Alt">
  </div>
</div>