.button {
  background-color: var(--accent);
  border: none;
  color: var(--text);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.captions {
  color: var(--text);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 20px;
}

.pictures{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pictures img{
  width: 350px;
  height: 100%;
  padding-right: 10px;
}